.custom-btn {
  background-color: #6E4A31;
  color: white;
  border: none;
}

.custom-btn:hover {
background-color: #ffd571;
color: #6E4A31;
}

.row {
  margin: 20px 0 20px 0;
  padding: 20px;
  gap: 20px;
}
