<div class="container">
    <div *ngIf="cartItems.length > 0; else emptyCart">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td>
              <img [src]="'data:image/png;base64,' + item.product.image" alt="{{ item.product.name }}" width="50" />
            </td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.value }} Gs.</td>
            <td>
              <input
                type="number"
                [value]="item.quantity"
                (change)="updateQuantity(item.product.id, $event)"
                class="form-control"
                min="1"
              />
            </td>
            <td>{{ item.product.value * item.quantity }} Gs.</td>
            <td>
              <button class="btn custom-btn btn-sm" (click)="removeItem(item.product.id)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between">
        <button class="btn custom-btn" (click)="clearCart()">Vaciar Carrito</button>
        <button class="btn custom-btn" (click)="toggleForm()">{{ !showForm ? 'Agregar Cupón' : 'Quitar Cupón' }}</button>
      </div>
      

      <div *ngIf="!showForm; else cupon" class="pt-4">

      </div>
    </div>
    <ng-template #emptyCart>
      <p>El carrito está vacío.</p>
    </ng-template>
    <ng-template #cupon>
      <div class="pt-4">
        <h4>Agregar Cupón</h4>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Correo Electrónico</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="formData.email" name="email" />
          </div>
  
          <div class="mb-3">
            <label for="email" class="form-label">Codigo de Cupón</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="formData.cupon" name="cupon" required />
          </div>
        </form>
      </div>
    </ng-template>
  </div>
