<div class="container " style="height: 100%;">
    <div class="row">
      <div class="col text-tour text-center" style="margin-top:10px">
        Tour del Chocolate
      </div>
    </div>

      <div class="row">
      <div class="col text-title offset-1" style="margin-top: 40px; max-width: 35%; line-height: 30px;">
        !VIVI LA EXPERIENCIA DE CONOCER
        LA FABRICA DE CHOCOLATE
        PARAGUAYO!
      </div>
      <div class="col-4 text-body offset-2" style="margin-top: 70px; font-weight: 700;">
        <p>Te imaginás descubrir todos los secretos detrás de nuestros chocolates?</p>

        <p>¡Te invitamos a visitar nuestras instalaciones, conocer el proceso de transformación del cacao
        y probar todos nuestros deliciosos chocolates!</p>
        </div>
    </div>

     
        <div class="row w-100" style="padding-top:90px">
        <div class="d-flex col-6 text-center align-items-center" style="flex-direction: column; ">
            <p class="text-title">Horarios</p>
            <img src="../../../assets/images/icons/calendar-solid.svg" class="icon-img">
            <div class="text-body text-center mx-auto" style="max-width:300px;">Agendamos visitas con previa reserva los sábados y domingos a las 9am, 11am, 2pm y 4pm.</div>
        </div>

        <div class="d-flex col-6 text-center align-items-center" style="flex-direction: column; ">
                <p class="text-title">Precios</p>
                <img src="../../../assets/images/icons/ticket-solid.svg" class="icon-img">
                <ul class="text-body" style="list-style-type:none ; padding:0">
                    <li><span style="font-weight: 700;">Adultos</span> (+12 años): 50 mil</li>
                    <li><span style="font-weight: 700;">Niños</span> (5 a 12 años): 30 mil</li>
                    <li><span style="font-weight: 700;">Peques</span> (-5 años): <span style="font-weight: 700;">¡Gratis!</span></li>
                </ul>
            </div>
        </div>

        <div class="text-center text-title" style="padding-top: 185px;">Reserva tu lugar al: 0986 799774</div>

    </div>