<div class="container">
    <div class="row mt-5">
      <div class="col-12 text-tour text-center align-items-center" style="margin-top:10px">
        Tour del Chocolate
      </div>
    </div>

      <div class="row w-100">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-title text-center" style="margin-top: 40px; line-height: 30px;">
        ¡VIVI LA EXPERIENCIA DE CONOCER
        LA FABRICA DE CHOCOLATE
        PARAGUAYO!
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-body" style="margin-top: 70px;margin-left: 20px; font-weight: 700; max-width: 100%;text-align: justify;">
        <p>Te imaginás descubrir todos los secretos detrás de nuestros chocolates?</p>
        <p>¡Te invitamos a visitar nuestras instalaciones, conocer el proceso de transformación del cacao
        y probar todos nuestros deliciosos chocolates!</p>
        </div>
    </div>

     
        <div class="row w-100" style="padding-top:90px">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-center align-items-center" style="flex-direction: column; padding: 20px;">
            <p class="text-title">Horarios</p>
              <img src="../../../assets/images/icons/calendar-solid.svg" class="icon-img img-fluid">
            <div class="text-body text-center mx-auto" style="max-width:300px; padding-top: 30px;">Agendamos visitas con previa reserva los sábados y domingos a las 9am, 11am, 2pm y 4pm.</div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-center align-items-center" style="flex-direction: column; padding: 20px;">
                <p class="text-title">Precios</p>
                <img src="../../../assets/images/icons/ticket-solid.svg" class="icon-img img-fluid">
                <ul class="text-body text-center mx-auto" style="list-style-type:none ; padding-top: 30px; padding-left: 0px;">
                    <li><span style="font-weight: 700;">Adultos</span> (+12 años): 50 mil</li>
                    <li><span style="font-weight: 700;">Niños</span> (5 a 12 años): 30 mil</li>
                    <li><span style="font-weight: 700;">Peques</span> (-5 años): <span style="font-weight: 700;">¡Gratis!</span></li>
                </ul>
            </div>
        </div>

        <div class="text-center text-title" style="padding-top: 185px;">Reserva tu lugar al: 0986 799774</div>

    </div>
