<div class="container-fluid">
  <div class="row justify-content-center">
    <!--<div class="col position-relative " style="height: 800px; width:100%;">
      
      <img #sliderImage [src]="getCurrentSlideUrl()" class="img-fluid rounded shadow-sm d-block mx-auto">

      <button (click)="getPrevSlider()" 
        class="btn btn-dark position-absolute top-50 start-0 translate-middle-y ms-2">
        &#10094;
      </button>

      <button (click)="getNextSlider()" 
        class="btn btn-dark position-absolute top-50 end-0 translate-middle-y me-2">
        &#10095;
      </button>
    </div>
  </div>-->

  <div id="carouselExample" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let record of slides; let i = index" [class.active]="i === 0">
        <img [src]="record.url" class="d-block w-100" alt="Slide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>-->
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>-->
    </button>
  </div>
</div>