@use "../variables" as *;

html {
  .mdc-list-item__primary-text,
  .mat-drawer-container,
  .mat-drawer,
  .text-body {
    color: $text-color;
  }
}
.text-montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
}