.text-productos{
    font-family: Maragsa;
    color: #6E4A31;
}
.custom-btn {
    background-color: white; /* Color de fondo */
    color: #6E4A31; /* Color del texto */
    border: none;
  }
  
.custom-btn:hover {
  background-color: #ffd571; /* Color al pasar el mouse */
}

.modal-header{
    background-color: #6E4A31;
    color: white;
}
.modal-body{
    background-color: white;
    color: #6E4A31;
}
.table-custom{
    background-color: white;
    color: #6E4A31; 
}
.modal-footer{
    background-color: white;
    color: #6E4A31;
}