.container {
    min-width: 1440px;
    min-height: 800px;
  }
  
  .text-section {
    color: #6E4A31;
  }
  
  .title {
    font-size: 1.8rem;
    font-family: Maragsa;
  }
  
  .text {
    font-size: 1rem;
    color: #6E4A31;
    font-family: Aventa;
  }
  
  img.logo{
    max-height: 400px;
    max-width: 800px;
  }
