<div class="container border border-black d-flex align-items-center justify-content-center">
    <div class="row d-flex align-items-center justify-content-center" >
      <!-- Sección de texto -->
      <div class="col-4 text-section px-5">
        <h2 class="title text-center">¿Quiénes Somos?</h2>
        <p class="text">
          Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
        </p>
      </div>
      
      <!-- Sección del logo -->
      <div class="col-6">
        <img class="logo" src="../../../assets/images/logos/Logo_Wisner_1.png">
      </div>
    </div>
  </div>