.container {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  max-width: 100%;
  justify-content: center;
  align-items: center; 
  height: 80%;
  overflow: hidden;
}

.row {
  width: 100%;
  gap: 50px;
  padding: 20px;
  flex-wrap: wrap;
}
  
.titulo{
  font-family: Maragsa;
  color: #6E4A31;
  font-weight: bolder;
  font-size: 1.8rem;
  text-align: center;
  font-size: 2rem;
}

.texto{
  font-family: Aventa;
  text-align: justify;
  flex-wrap: wrap;
  max-width: 500px;
  font-size: 1rem;
  color: #6E4A31;
  text-align: justify;
  max-width: fit-content;
  font-size: 1rem;
}

img.logo{
  max-width: 100%;
  height: auto;
  
}

@media (max-width: 768px) { /* Para tablets y móviles */
  .title {
      font-size: 1.5rem;
  }
  
  .text {
      font-size: 0.9rem;
      text-align: center !important; 
  }
  .logo {
    width: 80%;
  }
}

@media (max-width: 576px) { /* Para iPhone 12 y móviles pequeños */
  .title {
      font-size: 1rem;
  }
  
  .text {
      font-size: 0.5rem;
  }
  
  .logo {
      width: 80%;
  }
}
