<div class="container border border-black">
  <div class="row w-100 d-flex align-items-center justify-content-center text-center">

    <!-- Sección de texto -->
    <div class="col-12 col-sm-4 col-md-6 col-lg-4">
      <h2 class="titulo">¿Quiénes Somos?</h2>
        <p class="texto">
            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 
            'Content here, content here', making it look like readable English. Many desktop publishing 
            packages and web page editors now use Lorem Ipsum as their default model text.
        </p>
    </div>
    
    <!-- Sección del logo -->
    <div class="col-12 col-sm-4 col-md-6 col-lg-4">
      <img class="logo img-fluid" src="../../../assets/images/logos/Logo_Wisner_1.png" alt="Logo Wisner">
    </div>

  </div>
</div>
