<div class="container">
    <div id="inicio" class="inicio-component">
        <app-flyers></app-flyers>
    </div>
    <div id="chocolates" class="chocolates-component">
        <app-products></app-products>
    </div>
    <div id="quienes-somos" class="quienes-somos-component">
        <app-who-we-are></app-who-we-are>
    </div>
    <div id="tour-chocolates" class="tour-chocolates-component">
        <app-tour></app-tour>
    </div>
    <div id="contacto" class="contacto-component">
        <app-contact></app-contact>
    </div>
    <app-footer></app-footer>
</div>