<div class="blue_theme wisner-light-theme" dir="ltr">
  <app-topstrip></app-topstrip>
  <mat-sidenav-container class="mainWrapper" autosize autoFocus>

    <!-- ============================================================== -->
    <!-- Main Content -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="contentWrapper" #content>

      <div class="body-wrapper">
        <main class="pageWrapper maxWidth">
          <!-- ============================================================== -->
          <!-- Outlet -->
          <!-- ============================================================== -->
          <router-outlet class="maxWidth"></router-outlet>
        </main>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
  <app-footer></app-footer>
</div>